* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
}

header {
    height: 100px;
    background-color: rgb(0, 150, 136);
}

main {
    position: relative;
    height: calc(100vh - 100px);
    background-color: rgb(217, 219, 212);
}

.container {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    height: 750px;
    background-color: rgb(243, 238, 234);
    border: 1px solid rgb(228, 230, 227);
}


#side-bar {
    width: 400px;
    height: 100%;
    background-color: white;
}

#message-section {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: calc(100% - 400px);
    height: 100%;
    border-left: 2px solid rgb(214, 214, 214);
}

.empty {
    background-image: url(../img/img_real.png);
    background-position: center;
    background-size: cover;
}

#nav-header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 8px;
    background-color: rgb(234, 234, 234);
}

#nav-user {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 40%;
}

#nav-user a {
    height: 100%;
    width: 30%;
}

#nav-user a img {
    height: 100%;
    border-radius: 50%;
}

#nav-header i {
    font-size: 1.3rem;
    color: rgb(177, 177, 177);
}

#nav-icons {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 20px;
}

#nav-notifications {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 70px;
    background-color: rgb(142, 218, 252);
    padding: 8px;
}

#nav-notifications i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    font-size: 1.3rem;
    color: rgb(142, 218, 252);
}

#nav-notif-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 0.8rem;
}

#nav-notif-links a {
    font-size: 0.7rem;
    color: rgb(83, 123, 142);
}

#nav-search-bar-cont {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    height: 40px;
    background-color: rgb(250, 250, 250);
    padding: 5px;
    border-bottom: 1px solid rgb(233, 237, 239);
}

#search-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 6px;
}

#search-bar input {
    width: 250px;
    border: none;
    font-size: 0.7rem;
}

#search-bar i {
    color: rgb(177, 177, 177);
}


.user-contacts-messages {
    display: flex;
    gap: 10px;
    width: 400px;
    height: 70px;
    border-bottom: 1px solid rgb(233, 237, 239);
}

.user-contacts-messages:hover {
    background-color: rgb(245, 246, 246);
    cursor:pointer;
}

.contact-image {
    border-radius: 50%;
    padding: 5px;
}

#contact-name {
    flex-grow: 1;
    padding: 10px;
}

#contact-name span {
    font-size: 0.8rem;
    color: rgb(144, 157, 187);
}

#contact-last-message {
    font-size: 0.8rem;
    color: rgb(144, 157, 187);
    padding: 10px;
    overflow: hidden;
}

.filled-message {
    background-image: url(../img/mine.jpg);
}

.active {
    background-color: rgb(233, 235, 235);
}





/* ______sezione centrale________ */

#message-section i {
    font-size: 1.3rem;
    color: rgb(177, 177, 177);
}



/* ____barra superiore____ */

#message-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: rgb(234, 234, 234);
    padding: 2px;
}

#message-contact {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    height: 100%;
}

#message-name {
    align-self: center;
}


#message-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-right: 20px;
}

#message-contact .contact-image img {
    height: 100%;
}

#message-name span {
    font-size: 0.8rem;
    color: rgb(144, 157, 187);
}


/* ____corpo del messaggio____ */

#message-body {
    height: calc(100% - 120px);
    overflow-y: scroll;
}

#message-list {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    gap: 10px;
    list-style-type: none;
    width: 100%;
    padding: 20px 100px;
    font-size: 0.8rem;
}

.single-message {
    position: relative;
    display: flex;
    align-items: center;
    width: 250px;
    min-height: 50px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 2px 10px;
}




.fa-chevron-down {
    visibility: hidden;
    position: absolute;
    top: 10%;
    right: 3%;
    color: gray;
}

.single-message:hover .fa-chevron-down,
.single-message:hover #message-drop-down {
    visibility: visible;
    transition: .3s;
}

#message-drop-down {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    position: absolute;
    bottom: -60px;
    right: 3%;
    z-index: 3;
    visibility: hidden;
    list-style-type: none;
    padding: 15px;
    width: 150px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 2px gray;
}


#message-drop-down a {
    text-decoration: none;
}

#message-drop-down a:visited {
    color: black;
}



.message-sent {
    align-self: flex-end;
    background-color: rgb(213, 249, 186);
}

.message-time {
    position: absolute;
    bottom: 10%;
    right: 3%;
    font-size: 0.6rem;
    color: rgb(144, 157, 187);
}






/* _____barra in basso_______ */

#message-bar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    bottom: 0;
    width: calc(100% - 400px);
    height: 60px;
    background-color: rgb(243, 238, 234);
    padding: 30px;
}

#message-bar i {
    color: rgb(107, 115, 118);
}

.message-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 0.8rem;
    border: none;
    border-radius: 5px;
}

.fa-location-arrow {
    transform: rotate(45deg);
}